<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>EchoJS Edition</p>
  </div>
</div>

{{#each article}}
<div class="container-fluid article-container">
  <div data-_id="5c8846ebe2f1040014273a02" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{link}}">{{title}}</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
  </div>
   </div>
{{/each}}
